@model IEnumerable<DashboardDevOps.Models.TB_PROCESSO>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DSC_PROCESSO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.COD_PROCESSO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DTA_CRIACAO)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DSC_PROCESSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_PROCESSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTA_CRIACAO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_PROCESSO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_PROCESSO">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_PROCESSO">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="content"></div>

<div id="content_buttom"></div>


<script src="~/jsx/tutorial.jsx" type="text/babel"></script>
<script src="~/jsx/login.jsx" type="text/babel"></script>
